body {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    max-width: 960px;
    margin: auto;
    background-color: #f4f4f4;
}

h1 {
    font-size: 3em;
    letter-spacing: .6em;
    padding-top: 1em;
    padding-bottom: 1em;
}

h2 {
    font-size: 1.5em;
    padding-bottom: 1em;
    color: #18bc9c !important; 
    letter-spacing: 2px;
}

main { 
    display: grid;
    grid-template-columns: 40% 60%;
    margin-top: 3em;
}

header {
    text-align: center;
    margin: auto 2em;
}

section {
    margin: auto 1em 4em 2em;
}

i {
    margin-right: .5em;
}

p {
    margin: .2em auto;
}

hr {
    border: none;
    background-color: lightgray;
    height: 1px;
}

h1, h2 {
    font-weight: 100;
    margin-bottom: 0;
}

#mainLeft {
   border-right: 1px solid lightgray;
  background: #F0EDED;
}

a:hover {
    color: #18bc9c !important; 
}
.photo-profil {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 2px solid black;
}